h2 {
    color: blue;
    text-align: center;
}

h1 {
    color: #e8dede;
    width: 100%;
    text-align: center;
    font-family: "Andale Mono", Andale Mono, monospace;
    font-size: 48px;
    text-decoration: underline;
}