<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Меню</title>
</head>
<body>
    <ul>
    {% for item in zodiacs %}
        {% if forloop.first %}
            <li><b>{{ forloop.counter0 }}{{ item.title }}</b></li>
        {% elif forloop.last %}
            <li style="color: red">{{ forloop.counter0 }}{{ item.title }}</li>
        {% else %}
            <li>{{ forloop.counter0 }} {{ item.title }}</li>
        {% endif %} 
        <li>{{ forloop.counter }} {{ item|title}}</li>
    {% endfor %}
    </ul>


    {% for key, value in zodiac_dictionary.items %}
        <p>{{ key }}:{{ value }}</p>
    {% empty %}
        <p>Sorry, no athletes in this list. </p>
    {% endfor %}
</body>
</html>