{% extends 'base.html' %}
{% load static %}

{% block css_additional %}
    <link rel="stylesheet" type="text/css" href="{% static 'horoscope/css/index.css' %}">
{% endblock %}

{% block title %}
    Меню
{% endblock %}

{% block content %}
{#    {% include 'includes/navbar.html' only %}#}
    <h1>Приложение гороскоп</h1>
    <ul>
        {% for item in zodiacs %}
            <li><a href="{% url 'horoscope-name' sign_zodiac=item %}">{{ item|title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
